.serviciosDetalle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0px 80px;
}

.descripcion-servicio-container {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
}
